:root {
  --main-color: #2862cc;
  --secondary-color: #0a3076;
  --accent-color: #053a9a;
  --secondary-accent: #0d43a7;
  --hover-color: #053a9a;
  font-family: 'SomeTimeLaterRegular', 'JelleeBold';
  font-weight: normal;
  font-style: normal;
  --bg: #e3e4e8;
  --fg: #17181c;
  --input: #ffffff;
  --primary: #255ff4;
  --dur: 1s;
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input {
  color: var(--main-color);
}
body {
  background-color: var(--main-color);
  justify-content: center;
}

#content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#main-title {
  font-family: 'SomeTimeLaterRegular';
  color: var(--secondary-color);
}
h2,
h3,
h4,
h5 {
  font-family: 'JelleeBold';
}
#card-container {
  background-color: var(--secondary-color);
  margin: 1.2rem;
  padding: 1.2em;
  display: grid;
  justify-items: start;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  border: 1rem solid var(--secondary-accent);
  border-radius: 10%;
}
.display-temp {
  background-color: var(--accent-color);
  padding: 0.8em;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(3, 2fr);
  align-items: center;
  justify-items: center;
  border: 0.5rem solid var(--secondary-accent);
  border-radius: 10%;
  width: 40vw;
}
.temp {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.2em solid var(--main-color);
  margin-bottom: 0.3em;
  width: 39.8vw;
  border-radius: 25%;
}
.conditionTitle {
  grid-row: 1;
}
.conditions {
  grid-column: 2;
  grid-row: 1;
}
.windTitle {
  grid-column: 1;
  grid-row: 2;
}
.wind {
  grid-column: 2;
  grid-row: 2;
}
.humidityTitle {
  grid-column: 1;
  grid-row: 3;
}
.humidity {
  grid-column: 2;
  grid-row: 3;
}
form,
input {
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 2.2em;
  padding-left: 3rem;
}
form {
  position: relative;
  width: 100%;
  max-width: 21em;
}
.display-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}
