:root {
  --main-color: #2862cc;
  --secondary-color: #0a3076;
  --accent-color: #053a9a;
  --secondary-accent: #0d43a7;
  --hover-color: #053a9a;
  font-family: 'SomeTimeLaterRegular', 'JelleeBold';
  font-weight: normal;
  font-style: normal;
  --bg: #e3e4e8;
  --fg: #17181c;
  --input: #ffffff;
  --primary: #255ff4;
  --dur: 1s;
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input {
  color: var(--main-color);
}
body {
  background-color: var(--main-color);
  justify-content: center;
}

#content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#main-title {
  font-family: 'SomeTimeLaterRegular';
  color: var(--secondary-color);
}
h2,
h3,
h4,
h5 {
  font-family: 'JelleeBold';
}
#card-container {
  background-color: var(--secondary-color);
  margin: 1.2rem;
  padding: 1.2em;
  display: grid;
  justify-items: start;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  border: 1rem solid var(--secondary-accent);
  border-radius: 10%;
  height: 30em;
}
.display-temp {
  background-color: var(--accent-color);
  padding: 0.8em;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(3, 2fr);
  align-items: center;
  justify-items: center;
  border: 0.5rem solid var(--secondary-accent);
  border-radius: 10%;
  width: 40vw;
}
.temp {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.2em solid var(--main-color);
  margin-bottom: 0.3em;
  width: 39.8vw;
  border-radius: 25%;
}
.conditionTitle {
  grid-row: 1;
}
.conditions {
  grid-column: 2;
  grid-row: 1;
}
.windTitle {
  grid-column: 1;
  grid-row: 2;
}
.wind {
  grid-column: 2;
  grid-row: 2;
}
.humidityTitle {
  grid-column: 1;
  grid-row: 3;
}
.humidity {
  grid-column: 2;
  grid-row: 3;
}
form,
input {
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 2.2em;
  padding-left: 3rem;
}
form {
  position: relative;
  width: 100%;
  max-width: 21em;
}
.display-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}

.group {
  position: relative;
  margin-bottom: 45px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  background: transparent;
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
.cypher-btn-1 {
  color: var(--accent-color);
  font-size: 0.6rem;
  padding: 0.6em 0.6em;
  background-color: var(--main-color);
  cursor: pointer;
  position: relative;
  border: none;
}

.cypher-btn-1::before {
  content: '';
  position: absolute;
  left: -10px;
  top: -10px;
  width: 40px;
  height: 40px;
  /* background: #2e86c1;
border: 5px solid #2e86c1; */
  border-top: 5px solid #2e86c1;
  border-left: 5px solid #2e86c1;
  transition: all 0.4s;
}

.cypher-btn-1::after {
  content: '';
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 40px;
  height: 40px;
  /* background: #2e86c1;
border: 5px solid #2e86c1; */
  border-bottom: 5px solid #2e86c1;
  border-right: 5px solid #2e86c1;
  transition: all 0.4s;
}

.cypher-btn-1:hover:before,
.cypher-btn-1:hover:after {
  width: 100%;
  height: 100%;
}
/* css by cyper 1002 */
